* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------------
    Outter
    Grid
  --------------------------------- */

.outter-grid {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100vh;
  grid-template-areas:
    "heading"
    "inner-grid";
}
.heading {
  grid-area: heading;
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  background-color: aqua;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}
.left-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-head {
  display: flex;
}
.middle-head {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.left-head a {
  text-decoration: none;
  color: black;
}

/* ------------------------
  Inner Grid
  ------------------------ */

.inner-grid {
  grid-area: inner-grid;
  display: grid;
  background-color: aquamarine;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main register";
  font-family: "Dosis", sans-serif;
}
.main-grid {
  grid-area: main;
  background-color: bisque;
}
.register-grid {
  grid-area: register;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  width: 300px;
  height: 350px;
  background-color: #6b728e;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 20px;
}
#title {
  position: absolute;
  left: 30px;
  top: 10px;
}
.form {
  padding-top: 50px;
}
#email,
#username,
#password {
  font-size: small;
  opacity: 60%;
  position: absolute;
  left: 65px;
}
#email {
  top: 48px;
}
#username {
  top: 110px;
}
#password {
  top: 170px;
}
#email-in,
#userin,
#passin {
  width: 70%;
  border-radius: 10px;
  border-style: none;
  padding-left: 10px;
  height: 25px;
  padding-top: 30px;
}
.submit {
  background-color: rgb(201, 236, 236);
  border-radius: 25px;
  width: 70%;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}

.submit:hover {
  color: rgb(9, 131, 131);
  transform: scale(1.02);
}

#login {
  text-decoration: none;
  color: black;
}
#login:hover {
  cursor: pointer;
  transform: scale(0.04);
  opacity: 90%;
}

/* #passin::placeholder,
#userin::placeholder,
#email-in::placeholder {
  font-size: 12px;
} */
